<h1>■ユーザ一覧</h1>
<div class="container">
  
  <div　class="row col-xs-8"> 
    <div class="panel-group">
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
              検索条件
            </a>
          </h3>
        </div>

        <div class="panel-body">
          <%= form_tag(users_path, method: "get") do %>
            <%= label_tag :name, "名前" %><%= text_field_tag :name, params[:name] %>
            <%= label_tag :name, "権限" %>
            <%= select_tag :role, options_for_select(User.roles, :selected => params[:role]), include_blank: true %>
            <%= submit_tag "検索" %>
          <% end %>
        </div>
     </div>
    </div>
  </div>



<div> 

  <table class="table table-striped">
    <tr class="info">
      <th>名前</th>
      <th>メールアドレス</th>
      <th>拠点</th>
      <th>部門</th>
      <th>権限</th>
      <th>...</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.email %></td>
        <td><%= user.base %></td>
        <td><%= user.dept %></td>
        <td><%= user.role %></td>
        <td><%= link_to '詳細', user , class: 'btn btn-sm btn-success '%></td>
      </tr>
    <% end %>
  </table>
  <%= link_to '新規ユーザ登録', signup_path %>

</div>
