<h2>■ユーザ詳細ページ</h2>

<div class="col-md-8 col-md-offset-2">

   <form class="form-horizontal">

  	<div class="form-group">
  		<label class="control-label" for="InputText">ユーザID</label>
			<input type="number" class="form-control" id="InputNumber" value=<%=  @user.id %> readonly>
		</div>

  	<div class="form-group">
  		<label class="control-label" for="InputText">名前</label>
  			<input type="text" class="form-control" id="InputText" value=<%=  @user.name %> readonly>
 		</div>
 
  	<div class="form-group">
  		<label class="control-label" for="InputText">メールアドレス</label>
			<input type="text" class="form-control" id="InputText" value=<%= @user.email %> readonly>
		</div>

  	<div class="form-group">
  		<label class="control-label" for="InputText">拠点</label>
			<input type="text" class="form-control" id="InputText" value=<%= @user.base %> readonly>
		</div>

  	<div class="form-group">
  		<label class="control-label" for="InputText">部門</label>
			<input type="text" class="form-control" id="InputText" value=<%= @user.dept %> readonly>
		</div>

  	<div class="form-group">
  		<label class="control-label" for="InputText">権限</label>
			<input type="text" class="form-control" id="InputText" value=<%= @user.role %> readonly>
		</div>

  </form>

  <div class="right_wrapper">
		<%= link_to " edit", edit_user_path(@user), class: 'btn btn-primary glyphicon glyphicon-pencil'  %>
		<% if current_user.id != @user.id %>	
			<%= link_to " delete", @user, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger glyphicon glyphicon-trash' %>
		<% end %>
	</div>
	<!--admin権限の場合のみ表示する-->
	<% if current_user.admin? %>
		<%= link_to '一覧に戻る', users_path %>
	<% end %>

</div>