<h1>id: <%= @request.id %> の詳細ページ</h1>
<%= @request.title %> 
<%= @request.status %> 

   <form class="form-horizontal" >

  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">依頼者</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%=  @user.name %> readonly>
  		</div>
		</div>

  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">タイトル</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%= @request.title  %> readonly >
  		</div>
		</div>

  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">期日</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%= @request.limit_date %> readonly>
  		</div>
  	</div>

  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">内容</label>
  		<div class="col-sm-10">
  			<input type="textarea" class="form-control" id="InputTextarea" value=<%= @request.description %> readonly>
  		</div>
  	</div>

  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">状況</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%= @request.status %> readonly>
  		</div>

		</div>
  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">担当者</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%= @request.charge_user %> readonly>
  		</div>
		</div>


  	<div class="form-group">
  		<label class="col-sm-2 control-label" for="InputText">回答内容</label>
  	<% if @request.message.nil? %>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value="" readonly>
  		</div>
		<% else %>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" id="InputText" value=<%= @request.message %> readonly>
  		</div>
		<% end %>
		
		</div>

  </form>

<%= link_to "編集", edit_request_path(@request), class: 'btn btn-primary'  %>

<!--削除ボタンは、管理者モードの場合のみ表示される-->
<% if current_user.admin? %>    
    <%= link_to "削除", @request, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
<% end %>
<br>
<%= link_to '一覧に戻る', root_path %>
