  <h3><%= current_user.name %>さんのタスク </h3>
  
  <table class="table table-striped">
    <tr class="info">
      <th>タイトル</th>
      <th>依頼者</th>
      <th>メール</th>
      <th>期日</th>
      <th>作成日</th>
      <th>ステータス</th>
      <th>詳細</th>
  
    </tr>
    <% @tasks.each do |t| %>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.user.name %></td>
        <td><%= t.user.email %></td>
        <td><%= t.limit_date.strftime("%Y/%m/%d") %></td>
        <td><%= t.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= t.status %></td>

        <td><%= link_to '詳細', t , class: 'btn btn-sm btn-success'%></td>
        
      </tr>
    <% end %>
  </table>
