<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>

  <div class="center jumbotron">
    <div class="text-center">
      <%= link_to '新規に依頼する', new_request_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

<h3><%= current_user.name %>さんの依頼状況 </h3>
<table class="table table-striped">
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>期日</th>
    <th>作成日</th>
    <th>...</th>
    
  </tr>
  <% @requests.each do |request| %>
    <tr>
      <td><%= request.title %></td>
      <td><%= request.description %></td>
      <td><%= request.limit_date %></td>
      <td><%= request.created_at %></td>
      <td><%= link_to '詳細', request %></td>
    </tr>
  <% end %>
</table>
<%= link_to '新規IT依頼', new_request_path %>

<% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <h1>IT依頼へようこそ</h1>
        </div>
      </div>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>

<% end %>


